.demo-scroll {
  height: 1000px;
  overflow-y: auto;

  // 1列布局
  &.col-1 {
    position: relative;

    .scroll-item {
      & + .scroll-item {
        margin-top: 20px;
      }
    }
  }

  // 2列布局
  &.col-2 {
    .scroll-content-wrap {
      display: flex;
      flex-wrap: wrap;
      margin-left: -24px;
    }

    .scroll-item {
      width: calc(50% - 24px);

      &:nth-child(n + 3) {
        margin-top: 24px;
      }

      margin-left: 24px;
    }
  }

  &.status-empty {
    .empty-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      color: #666;
      background: #eee;
      user-select: none;
    }
  }

  .scroll-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    border-radius: 10px;
    font-size: 40px;
    color: #fff;
    background: orange;
  }

  .load-tips,
  .end-tips {
    margin-top: 12px;
    padding: 12px 0;
    color: #666;
    text-align: center;
    user-select: none;
  }
}
